<div class="main-content"> 
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="card">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">face</i>
            </div>
            <h4 class="card-title">Gestión clientes de Alianza</h4>
          </div> 
          <div class="card-footer">
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>